
Personal_Files/.DS_Store
Personal_Files/Brock/problem_statement.pdf
Personal_Files/Brock/problem_statement.synctex.gz
Personal_Files/Brock/problem_statement.aux
Personal_Files/Brock/problem_statement.log
